<h1>Create New Feed</h1>

<ul class="errors"></ul>

<label for="feed_url">Url:</label>
<input id="feed_url" type="text" name="feed[url]" value="<%= feed.escape('url') %>"> <br><br>
<label for="feed_title">Title:</label>
<input id="feed_title" type="text" name="feed[title]" value=""><br>
<input type="submit">
